@import "tailwindcss";

.password-generator {
  @apply flex flex-col items-center p-5 rounded-lg shadow-md m-5 mb-7;
  background-color: #f9f9f9;

  .options {
    @apply flex  flex-col w-full;
  }

  label {
    @apply flex items-center;
    font-size: 1.1em;

    input[type="checkbox"],
    input[type="number"] {
      @apply mr-2.5;
    }
  }

  button {
    @apply bg-blue-600 text-white px-5 py-2.5 rounded text-base cursor-pointer transition-colors duration-300;

    border: none;

    &:hover {
      @apply bg-blue-800;
    }

    &:focus {
      outline: none;
    }
  }

  .generated-password {
    @apply flex items-center w-full mt-5;

    input {
      @apply flex-1 p-2 text-base border border-gray-300 rounded mr-2.5 transition-colors duration-300;

      &:focus {
        @apply border-blue-600 outline-none;
      }
    }

    button {
      @apply bg-green-600 text-white px-4 py-2 rounded cursor-pointer transition-colors duration-300;

      border: none;

      &:hover {
        @apply bg-green-700;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .password-entropy {
    @apply mt-5 w-full text-center;

    p {
      font-size: 1.1em;
      margin: 0.25rem 0;
    }

    .strength-bar-container {
      @apply w-full bg-gray-300 rounded overflow-hidden mt-2.5;
    }

    .strength-bar {
      height: 10px;
      border-radius: 0.3rem;
      transition: width 0.3s ease;
    }
  }
}
