<div class="password-generator">
  <h2 class="text-2xl">Password Generator</h2>
  <div class="options">
    <label
      >Length:
      <input
        type="number"
        [(ngModel)]="length"
        min="1"
        max="128"
        placeholder="Length (1-128)"
        class="border border-gray-300 rounded-md p-2"
      />
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="includeUppercase" />
      Include Uppercase
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="includeNumbers" />
      Include Numbers
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="includeSpecialChars" />
      Include Special Characters
    </label>
  </div>
  <button (click)="generatePassword()">Generate Password</button>
  <div class="generated-password">
    <label>Generated Password:</label>
    <input
      type="text"
      [(ngModel)]="password"
      (ngModelChange)="onPasswordChange($event)"
    />
    <button (click)="copyToClipboard()">Copy to Clipboard</button>
  </div>

  <div class="password-entropy">
    <label>Password Entropy:</label>
    <p>Entropy: {{ passwordEntropy.toFixed(2) }} bits</p>
    <div class="strength-bar-container">
      <div
        class="strength-bar"
        [ngStyle]="{
          'background-color': passwordStrengthColor,
          width: calculateStrengthWidth(passwordEntropy) + '%',
        }"
      ></div>
    </div>
    <p>Password Strength: {{ passwordStrength }}</p>
  </div>
</div>
